.c-quote{
    margin-bottom: rem(16px);
    padding: rem(92px) rem(16px) rem(16px);
    text-align: center;
    max-width: rem(700px);
}

.c-quote__icon{
    margin-bottom: rem(42px);
    font-size: rem(56px);
    font-weight: bold;
}

.c-quote__content{
    font-size: rem(32px);
    font-weight: bold;
    margin-bottom: rem(32px);
}

.c-quote__author{
    font-size: rem(16px);
}